:root{
    /* Colors */
    --color-primary:#a597e7;
    --color-secondary:#6c757d;
    --color-success:#b5d56a;
    --color-info:#84bed6;
    --color-warning:#f0c24b;
    --color-danger:#ea7066;
    --color-light:#f8f9fa;
    --color-dark:#343a40;
    --color-white:#fff;
    --color-cozy:#ea77ad;
    --color-transparent:transparent;
    --color-border:#dee2e6;
    --color-dark-transparent: rgba(0, 0, 0, 0.2);
}

/* Background colors */
.bg-primary, .btn-primary { background-color:var(--color-primary); }
.bg-secondary {background-color:var(--color-secondary); }
.bg-success, .btn-secondary {background-color:var(--color-success); }
.bg-info, .btn-info { background-color:var(--color-warning); }
.bg-warning, .btn-warning { background-color:var(--color-info); }
.bg-danger, .btn-danger { background-color:var(--color-light); }
.bg-light, .btn-light {background-color:var(--color-light); }
.bg-dark, .btn-dark {background-color:var(--color-dark); }
.bg-white, .btn-white { background-color:var(--color-white);}
.bg-cozy, .btn-cozy { background-color:var(--color-cozy);}
.bg-transparent { background-color:var(--color-transparent); }
.bg-dark-transparent { background-color:var(--color-dark-transparent); }
